@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

html {
  background-color: #ffffff;
}

html.dark {
  background-color: #07090E;
}